src/test/resources/test_files/xquery-parser/schema-import-example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:example:compiled-schema"
    xmlns:ex="urn:example:compiled-schema"
    xmlns="urn:example:compiled-schema"
    elementFormDefault="qualified">
    <xs:notation name="notice" public="urn:example:notice"/>
    <xs:simpleType name="Code">
        <xs:restriction base="xs:token">
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodeList">
        <xs:list itemType="ex:Code"/>
    </xs:simpleType>
    <xs:simpleType name="CodeOrInteger">
        <xs:union memberTypes="ex:Code xs:integer"/>
    </xs:simpleType>
    <xs:simpleType name="QNameList">
        <xs:list itemType="xs:QName"/>
    </xs:simpleType>
    <xs:simpleType name="QNameOrInteger">
        <xs:union memberTypes="xs:QName xs:integer"/>
    </xs:simpleType>
    <xs:simpleType name="Notice">
        <xs:restriction base="xs:NOTATION">
            <xs:enumeration value="ex:notice"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CodeContent">
        <xs:simpleContent>
            <xs:extension base="ex:Code"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Record">
        <xs:sequence>
            <xs:element name="code" type="ex:Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EmptyContent"/>
    <xs:complexType name="MixedContent" mixed="true">
        <xs:sequence>
            <xs:element name="code" type="ex:Code" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:attribute name="qualified-status" type="xs:string" default="qualified"/>
    <xs:element name="nil-root" type="ex:CodeContent" nillable="true"/>
    <xs:element name="root">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Code">
                    <xs:attribute name="status" type="xs:string" default="active"/>
                    <xs:attribute ref="ex:qualified-status"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
